<h4 mat-dialog-title>
        <mat-toolbar class="task-header">
            <span class="titolo">Number Of Sequences Per CP</span>
            <button mat-icon-button mat-dialog-close class="icona">
                <mat-icon mat-list-icon>close</mat-icon>
            </button>
        </mat-toolbar>
</h4>
<mat-dialog-content>Seqeunces per CP will appear here</mat-dialog-content>


