<h4 mat-dialog-title>
        <mat-toolbar class="task-header">
            <span class="titolo">Most Frequent Update Frequency CDF</span>
            <button mat-icon-button mat-dialog-close class="icona">
                <mat-icon mat-list-icon>close</mat-icon>
            </button>
        </mat-toolbar>
</h4>
<mat-dialog-content>
  <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"></highcharts-chart>
</mat-dialog-content>


