<html>
<div class="tabella">
  <app-form></app-form>
 <div *ngIf="dataSource.loading$ | async">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
<table mat-table
              [dataSource]="dataSource" multiTemplateDataRows>
        <tr>
            <ng-container  matColumnDef="Sequence ID">
              <th mat-header-cell *matHeaderCellDef class = "sequenceId"> Sequence ID </th>  
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

          <ng-container matColumnDef="Prefix">
            <th mat-header-cell *matHeaderCellDef class = "prefix"> Prefix </th>
            <td mat-cell *matCellDef="let element"> {{element.prefix}} </td>
          </ng-container>

          <ng-container matColumnDef="Collector Peer">
            <th mat-header-cell *matHeaderCellDef class ="collectorPeer"> Collector Peer </th>
            <td mat-cell *matCellDef="let element" class="collectorPeerText"> {{element.collectorPeer.peerIPAddress}}[<b>AS:</b>{{element.collectorPeer.peerAS}}] </td>
          </ng-container>

          <ng-container matColumnDef="RRC">
            <th mat-header-cell *matHeaderCellDef class = "rrc"> RRC </th>
            <td mat-cell *matCellDef="let element" class = "rrcText"> {{element.rRC}} </td>
          </ng-container>

          <ng-container matColumnDef="Start Time">
            <th mat-header-cell *matHeaderCellDef class = "startTime"> Start Time </th>
            <td mat-cell *matCellDef="let element" class = "startTime2"> {{element.start | date:'short' }} </td>
          </ng-container>

          <ng-container matColumnDef="End Time">
            <th mat-header-cell *matHeaderCellDef  class="endTime"> End Time </th>
            <td mat-cell *matCellDef="let element" class="endTime2"> {{element.end | date:'short'}} </td>
          </ng-container>

          <ng-container matColumnDef="Fittizio">
            <th mat-header-cell *matHeaderCellDef class="fittizio"></th>
            <td mat-cell *matCellDef="let element" class="fittizio"></td>
          </ng-container>
        </tr>

          <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
              <div class="example-element-detail"
                  [@detailExpand]="checkExpanded(element) ? 'expanded' : 'collapsed'">
                <div class = "flex1">
                  <div class="titoletto">
                    <h1>Sequence analysis</h1>
                  </div>
                  <div class = "border"></div>
                  <div class = "background1"></div>
                  <div class = "primoBlocco">
                    Resource: <b>{{element.id}}</b>
                    <br>Announced: <b>{{elementRipe[element.asOrigins]?.data.announced}}</b>
                    <br>AS Origin(s):
                    <ul>
                      <li>ASn: <b>{{element.asOrigins}}</b></li>
                      <li class="boxHolder">Holder: <b>{{elementRipe[element.asOrigins]?.data.asns[0]?.holder}}</b></li>
                      <li><a href="https://www.google.com/">Open</a></li>
                    </ul>
                    <a onclick = "prefixRef(element.prefix);">Open RIPEstat</a>
                  </div>
                  <div class = "annotazione">Info on the involved prefix retrieved from third-party data sources.
                    This info describes the prefix in its actual state that may be different from the one
                    in the time frame of the sequence.
                  </div>
                </div>
                <div class ="border2"></div>
                <div class = "background2"></div>
                <div class="secondoBlocco">
                  Number of updates: <b>{{element.updates}}</b>
                  <br>Number of announcements: <b>{{element.announces}}</b>
                  <br>Number of withdrawals: <b>{{element.withdraws}}</b>
                  <br>AS Origin(s): <b>{{element.asOrigins}}</b>
                  <br>Distinct AS-Paths observed during this sequence: <b>{{element.asPathNumber}}</b>
                  <br>Length of the longest common AS-Path suffix: <b>{{element.longestCommonAsPathSuffix}}</b>
                  <br>Has one or more updates with the aggregator field: <b>{{element.hasAggregator}}</b>
                  <br>Contains updates with AS-Path xAyBz/x'By'Az' patterns: <b>{{element.containsLoops}}</b>
                  <br>Number of occurrencies of the most frequent announcement: <b>{{element.mostFrequentUpdateFrequency}}</b>
                  <br>Most Frequent announcement frequency (upd/min): <b>{{element.mostFrequentUpdateFrequencyInMin}}</b>
                  <br>Duration (days): <b>{{element.duration}}</b>
                  <br>Is the prefix a beacon (if yes there will be the name):
                  <br>Average frequency of the sequence: <b>{{element.frequency}}</b>
                  <br>Run ID: <b>{{element.runID}}</b>
                </div>
                <div class = "flex2">
                  <div class="titoletto1">
                    <h1>Widgets</h1>
                  </div>
                  <div class="buttons">
                    <div class="container">
                      <a (click) = "openDialog()" class="btn effect04" data-sm-link-text="CLICK" target="_blank">
                        <span>AS TREE WITHOUT AGGREGATOR</span>
                      </a>
                    </div>
                    <div class="container1">
                      <a (click) = "openDialog2()" class="btn effect04" data-sm-link-text="CLICK" target="_blank">
                        <span>SEQUENCE CHART</span>
                      </a>
                    </div>
                    <div class="container2">
                      <a href="https://twitter.com/masuwa1018" class="btn effect04" data-sm-link-text="CLICK" target="_blank">
                        <span>RIPE STAT BGP UPDATE ACTIVITY</span>
                      </a>
                    </div>
                  </div>
                </div>
                <div class = "invisibile2"></div>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
              class="example-element-row"
              [class.example-expanded-row]="checkExpanded(element)"
              (click)="pushPopElement(element)">
          </tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10,20,50,100]" showFirstLastButtons></mat-paginator>
        </div>
</html>