html {
  background-image: url(../../../assets/images/bianco.jpg);
  overflow: hidden;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  scroll-behavior: auto;
  overflow-y: scroll;
}

mat-label{
  position:relative;
  font-size:1.2em;
}

mat-paginator{
  border-bottom: 3px solid #009879;
}

mat-expansion-panel{
position:relative;
background-color: whitesmoke;
}

.mat-toolbar button{
  position:absolute;
  left:87vw;
  background-color: #009879;
  border: solid 0px;
  color:white;
}

.tabella{
  position:relative;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  width: 95%;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
}

th {  
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
  font-size: calc(1em + 1vh);
}
.annotazione{
  position:relative;
  top:70px;
  left:0px;
  font-size:0.7em;
  color: darkgray;
}

.invisibile{
  padding-top:317px;
  height:1px;
  width:1px;
  visibility:hidden;
}

.invisibile2{
  visibility: hidden;
}


td {
    width:100%;
    font-size: 1.1em;
}


tr:hover{
  background-color: whitesmoke;
}
.home{
 color: white;
}

.mat-toolbar{
  background-color:#009879;
  height:40px;
}

.mat-toolbar span{
  padding-left:50px;
  color: #ffffff;
  letter-spacing: 1px;
  font-weight:400;
}

.flexContainer1{
  padding-top:20px;
  display:flex;
  justify-content: space-around;
  flex-direction: row;
}

.IDFilter{
  /*position:absolute;
  top:20px;
  left:2.46%;*/
  width:18.1%;
}

.backgroundIDFilter{
  position:absolute;
  border-radius: 0 5px 0 0;
  background-color: whitesmoke;
  top:20px;
  left:2.46%;
  width: 18.1%;
  height:50px;
}

.borderIDFilter{
  position:absolute;
  border-radius: 5px 0 0 5px;
  top:20px;
  height:51px;
  width:0.41%;
  left:2.05%;
  background-color:#009879;
  opacity:50%;
}

.AsOriginFilter{
  /*position:absolute;
  top:20px;
  left:27.18%;*/
  width:18.1%;
}

.backgroundAsOrigin{
  position:absolute;
  border-radius: 0 5px 0 0;
  background-color: whitesmoke;
  top:20px;
  left:27.18%;
  width: 18.1%;
  height:50px;
}

.borderAsOrigin{
  position:absolute;
  border-radius: 5px 0 0 5px;
  top:20px;
  height:51px;
  width:0.4%;
  left:26.77%;
  background-color:#009879;
  opacity:50%
}

.updateFilter{
  /*position:absolute;
  top: 20px;
  right: 5.11%;*/
  width: 42.83%;
}

.borderUpdate{
  position:absolute;
  border-radius: 5px 0 0 5px;
  top:20px;
  height:51px;
  width:0.41%;
  right:47.93%;
  background-color:#009879;
  opacity:50%;
}

.PrefixFilter{
  /*position:absolute;
  top:90px;
  left:2.46%;*/
  width:18.1%;
}

.backgroundPrefix{
  position:absolute;
  border-radius: 0 5px 0 0;
  background-color: whitesmoke;
  top:90px;
  left:2.46%;
  width: 18.1%;
  height:50px;
}

.borderPrefix{
  position:absolute;
  border-radius: 5px 0 0 5px;
  top:90px;
  height:51px;
  width:0.41%;
  left:2.05%;
  background-color:#009879;
  opacity: 50%;
}

.SuffixFilter{
 /* position:absolute;
  top:90px;
  left:27.18%;*/
  width:18.1%;
}

.backgroundSuffix{
  position:absolute;
  border-radius: 0 5px 0 0;
  background-color: whitesmoke;
  top:90px;
  left:27.18%;
  width: 18.1%;
  height:50px;
}

.borderSuffix{
  position:absolute;
  border-radius: 5px 0 0 5px;
  top:90px;
  height:51px;
  width:0.41%;
  left:26.77%;
  background-color:#009879;
  opacity:50%;
}

.updateFilter2{
  /*position:absolute;
  top: 90px;
  right: 5.11%;*/
  width: 42.83%;
}

.borderUpdate2{
  position:absolute;
  border-radius: 5px 0 0 5px;
  top:90px;
  height:51px;
  width:0.41%;
  right:47.93%;
  background-color:#009879;
  opacity:50%;
}

.flexContainer2{
  padding-top:5px;
  display:flex;
  justify-content: space-around;
  flex-direction: row;
}

.collectorPeerInformation{
  /*position:absolute;
  top:170px;
  left:3.29%;*/
  width:27%;
  height:230px;
  background-color: rgba(0, 152, 121, 0.25);;
  border-radius: 5px 5px 5px 5px;
  border-left: solid 3px #009879;
}

.borderCollectorPeerInformation{
  /*position:absolute;
  top:170px;
  left:2.06%;*/
  height:210px;
  width:0.41%;
  background-color:#009879;
  border-radius: 5px 0 0 5px;
}

.backgroundCollectorPeerInformation{
  /*position:absolute;
  top:170px;
  left:2.47%;*/
  height:210px;
  width:25.5%;
  background-color: rgba(0, 152, 121, 0.25);;
  border-radius: 0 5px 5px 0;
}

.collectorPeerInformation h1 {
  padding-left: 3%;
  padding-top:0px;
  letter-spacing: 0.05em;
  font-size: 1.5vw;
  white-space:nowrap;
}

.collectorPeerInformation span {
  padding-left:3%;
  padding-top:0px;
  letter-spacing: 0.05em;
  font-size: 0.9vw;
  white-space: nowrap;

}

.collectorPeerIPFilter{
  padding-left:5%;
  padding-top:10px;
  width:75%;
}

/*.backgroundCollectorPeerIPFilter{
  top:80px;
  width:75%;
  height:50px;
  background-color: whitesmoke;
  border-radius: 5px 5px 0 0;
}*/

.collectorPeerASnFilter{
  padding-left:5%;
  padding-top:5px;
  width:75%;
}

/*.backgroundCollectorPeerASnFilter{
  position:absolute;
  top:150px;
  width:75%;
  height:50px;
  background-color: whitesmoke;
  border-radius: 5px 5px 0 0;
}*/

.duration{
  /*position:absolute;
  top:170px;
  left:36.24%;*/
  height:230px;
  width:29%;
  background-color: rgba(0, 152, 121, 0.25);;
  border-radius: 5px 5px 5px 5px;
  border-left: solid 3px #009879;
}

.borderDuration{
  position:absolute;
  top:170px;
  left:35%;
  height:210px;
  width:0.41%;
  background-color:#009879;
  border-radius: 5px 0 0 5px;
}

.backgroundDuration{
  position:absolute;
  top:170px;
  left:35.42%;
  height:210px;
  width:26.36%;
  background-color: rgba(0, 152, 121, 0.25);;
  border-radius: 0 5px 5px 0;
}

.duration h1 {
  padding-left:3%;
  padding-top:0px;
  letter-spacing: 0.05em;
  font-size: 1.5vw;
}

.duration span {
  padding-left:3%;
  padding-top:0px;
  letter-spacing: 0.05em;
  font-size: 0.9vw;
}

.durationGreaterFilter{
  padding-left:5%;
  padding-top:10px;
  width:91%;
}

/*.backgroundDurationGreaterFilter{
  padding-top:10px;
  width:101%;
  height:50px;
  background-color: whitesmoke;
  border-radius: 5px 5px 0 0;
}*/

.durationSmallerFilter{
  padding-left:5%;
  padding-top:10px;
  width:91%;
}

/*.backgroundDurationSmallerFilter{
  padding-top:70px;
  width:101%;
  height:50px;
  background-color: whitesmoke;
  border-radius: 5px 5px 0 0;
}*/


.dates{
  /*position:absolute;
  top:170px;
  left:69.18%;*/
  height:230px;
  width:28%;
  background-color: rgba(0, 152, 121, 0.25);;
  border-radius: 5px 5px 5px 5px;
  border-left: solid 3px #009879;
}

.borderDates{
  position:absolute;
  top:170px;
  left:67.95%;
  height:210px;
  width:0.41%;
  background-color:#009879;
  border-radius: 5px 0 0 5px;
}

.backgroundDates{
  position:absolute;
  top:170px;
  left:68.36%;
  height:210px;
  width:26.36%;
  background-color: rgba(0, 152, 121, 0.25);;
  border-radius: 0 5px 5px 0;
}

.dates h1 {
  padding-left:3%;
  padding-top:0px;
  letter-spacing: 0.05em;
  font-size: 1.5vw;
}

.dates span {
  padding-left:3%;
  padding-top:0px;
  letter-spacing: 0.05em;
  font-size: 0.9vw;
  white-space: nowrap;
}

.startFilter{
  padding-left:5%;
  padding-top:10px;
  width:80%;
}

/*.backgroundStartFilter{
  padding-top:10px;
  width:80%;
  height:51px;
  background-color: whitesmoke;
  border-radius: 5px 5px 0 0;
}*/

.endFilter{
  padding-left:5%;
padding-top:10px;
  width:80%;
}

/*.backgroundEndFilter{
  padding-top:150px;
  width:80%;
  height:51px;
  background-color: whitesmoke;
  border-radius: 5px 5px 0 0;
}*/

.flexContainer3{
    padding-top:20px;
    display:flex;
    justify-content: space-around;
    flex-direction: row;
  }

  .minimum{
 /* position:absolute;
  top:420px;
  left:23.06%;*/
  width:54%;
  background-color: rgba(0, 152, 121, 0.25);;
  border-radius: 5px 5px 5px 5px;
  border-left: solid 3px #009879;
}

.borderMinimum{
  position:absolute;
  top:420px;
  left:21.83%;
  height:130px;
  width:0.41%;
  background-color:#009879;
  border-radius: 5px 0 0 5px;
}

.backgroundMinimum{
  position:absolute;
  top:420px;
  left:22.24%;
  height:130px;
  width:53.54%;
  background-color: rgba(0, 152, 121, 0.25);;
  border-radius: 0 5px 5px 0;
}

.minimum h1 {
  padding-left: 3%;
  padding-top:0px;
  letter-spacing: 0.05em;
  font-size: 1.5vw;
}

.minimum span {
  padding-left:3%;
  padding-top:0px;
  letter-spacing: 0.05em;
  font-size: 0.9vw;
}

.updatesFilter{
  width:28%;
}

/*.backgroundUpdatesFilter{
  position:absolute;
  top:70px;
  width:28%;
  height:51px;
  background-color: whitesmoke;
  border-radius: 5px 5px 0 0;
}*/

.withdrawsFilter{
  width:28%;
}

/*.backgroundWithdrawsFilter{
  position:absolute;
  top:70px;
  width:28.23%;
  height:51px;
  left:34.5%;
  background-color: whitesmoke;
  border-radius: 5px 5px 0 0;
}*/

.announcesFilter{
  width:28.23%;
}

/*.backgroundAnnouncesFilter{
  position:absolute;
  top:70px;
  width:28.23%;
  height:51px;
  left:69%;
  background-color: whitesmoke;
  border-radius: 5px 5px 0 0;
}*/

  .flexContainer4{
    padding-top:20px;
    display:flex;
    justify-content: space-around;
    flex-direction: row;
  }

  .flexContainer5{
    padding-top:10px;
    display:flex;
    justify-content: space-around;
    flex-direction: row;
  }

@media (max-width:800px) {
  .flexContainer1{
    padding-top:20px;
    display:flex;
    justify-content: space-around;
    flex-direction: column;
  }

  .flexContainer2{
    padding-top:10px;
    display:flex;
    justify-content: space-around;
    flex-direction: column;
  }

  .flexContainer3{
    padding-top:20px;
    display:flex;
    justify-content: space-around;
    flex-direction: column;
  }

  .flexContainer4{
    padding-top:10px;
    display:flex;
    justify-content: space-around;
    flex-direction: column;
  }

  .IDFilter{
    width:90%
  }

  .AsOriginFilter{
  width:90%;
  }

  .updateFilter{
    width:90%;
  }

  .PrefixFilter{
    width:90%;
  }

  .SuffixFilter{
    width:90%;
  }

  .updateFilter2{
    width:90%;
  }

  .collectorPeerInformation{
    width:90%;
  }

  .collectorPeerInformation h1 {
  padding-left: 3%;
  padding-top:0px;
  letter-spacing: 0.05em;
  font-size: 1.5em;
  white-space:nowrap;
}

.collectorPeerInformation span {
  padding-left:3%;
  padding-top:0px;
  letter-spacing: 0.05em;
  font-size: 0.9em;
  white-space: nowrap;

}

  .duration{
    margin-top:10px;
    width:90%;
  }

  .duration h1 {
  padding-left: 3%;
  padding-top:0px;
  letter-spacing: 0.05em;
  font-size: 1.5em;
  white-space:nowrap;
}

  .duration span {
  padding-left:3%;
  padding-top:0px;
  letter-spacing: 0.05em;
  font-size: 0.9em;
  white-space: nowrap;
  }

  .dates{
    margin-top:10px;
    width:90%;
  }

  .dates h1 {
  padding-left: 3%;
  padding-top:0px;
  letter-spacing: 0.05em;
  font-size: 1.5em;
  white-space:nowrap;
}

  .dates span {
  padding-left:3%;
  padding-top:0px;
  letter-spacing: 0.05em;
  font-size: 0.9em;
  white-space: nowrap;
  }

  .minimum{
    margin-top:10px;
    width:90%;
  }

  .minimum h1 {
  padding-left: 3%;
  padding-top:0px;
  letter-spacing: 0.05em;
  font-size: 1.5em;
}

  .minimum span {
  padding-left:3%;
  padding-top:0px;
  letter-spacing: 0.05em;
  font-size: 0.9em;
  }

}


.spinner-container {
    height: 360px;
    width: 390px;
    position: fixed;
}


/*.mat-elevation-z8{
  position: relative;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  width: 95%;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
}*/

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
  width:100%;
}

tr.example-detail-row {
  height: 0;
  width:100%;
}


/*.mat-header-cell {
  padding-right: 7vw;
}*/

.sequenceId{
  white-space: nowrap;
}

.prefix{
  padding-right: 12vw;
}

.collectorPeer{
  padding-right:17vw;
  white-space: nowrap;
}

.rrc{
  padding-right:3vw;
}
.startTime{
  padding-right:5vw;
  white-space: nowrap;
}

.startTime2{
  white-space: nowrap;
}

.endTime{
  padding-right:4vw;
  white-space:nowrap;
}

.endTime2{
  white-space:nowrap;
}

@media(max-width:1200px){
  .startTime{
    padding-right: 0vw;
    font-size: 0px;
  }

  .startTime2{
    font-size:0px;
  }

  .endTime{
    padding-right:0vw;
    font-size:0px;
  }

  .endTime2{
    font-size:0px;
  }

  .rrc{
    padding-right:1vw;
  }
  .prefix{
    padding-right:20vw;
  }
}

@media(max-width:1100px){
  .rrc{
    padding-right:0vw;
    font-size:0px;
  }

  .rrcText{
    font-size:0px;
  }
}

@media(max-width:820px){
  .prefix{
    padding-right:12vw;
  }
}

@media(max-width:780px){
  .collectorPeer{
    padding-right:0vw;
    font-size:0px;
  }

  .collectorPeerText{
    font-size:0px;
  }

  .prefix{
    padding-right:20vw;
  }
}



.fittizio{
  width:1px;
  visibility: invisible;
}

.spinner-container {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.overlay{
  height:90%;
  width:95%;
  background-color:rgba(0, 0, 0, 0.286);
  z-index:    10;
  top:        100px; 
  left:       2.5%; 
  position:   fixed;
}


.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  position:relative;
  overflow: hidden;
  display: flex;
}

tr:last-of-type{
  border-bottom: 2px solid #009879;
}


.primoBlocco{
  position: relative;
  top:20px;
  left: 3%;
  width:95%;
}

.primoBlocco ul{
  padding-left: 7%;
}

.flex1{
  position:relative;
  display:flex;
  flex-direction: column;
  width:29vw;
}


.secondoBlocco{
  position:relative;
  left:2.5%;
  top: 20px;
  width:36vw;
  margin-bottom:50px;
}

.border{
  position:absolute;
  left: 0%;
  top:50px;
  width:5px;
  background-color: #009879;
  height: 50%;
  border-radius: 5px 0px 0px 5px;
}

.border2{
  position:absolute;
  top: 10px;
  left: 33.63%;
  width:5px;
  background-color: #009879;
  height: 89%;
  border-radius: 5px 0px 0px 5px;
}

.background1{
  position: absolute;
  z-index: 0;
  left:5px;
  top:50px;
  height:50%;
  width: 100%;
  background-color:#009879;
  opacity: 50%;
  border-radius: 0px 15px 15px 0px;
}

.background2{
  position: absolute;
  top:10px;
  left:33.93%;
  height:89%;
  width: 41.19%;
  background-color:#009879;
  opacity: 50%;
  border-radius: 0px 15px 15px 0px;
}

.titoletto{
  position:relative;
  left:0px;
  top:13px;
  height:40px;
  width:25vw;
  white-space:nowrap;
}
.titoletto h1{
  color: black; 
  font-family: 'Orienta', sans-serif;
  font-weight: 400;  
  font-size:1.25em;
  text-align: center; 
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.flex2{
  position:relative;
  display:flex;
  flex-direction: column;
  width:20vw;
  left:4%;
}
.titoletto1{
  position:relative;
  top:13px;
}
.titoletto1 h1{
  color: black; 
  font-family: 'Orienta', sans-serif;
  font-weight: 400;  
  font-size:1.25em;
  text-align: center; 
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

body {
  background: #FFF;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
}

.buttons {
  position:relative;
  top:30px;
  left: 4%;
  display: flex;
  flex-direction: row;
      flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin: 0 auto;

}

.container {
  position:absolute;
  right:0.77%;
  top:0px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: rgba(0, 152, 121, 0.25);
  width: 100%;
  height:30px;
  border-radius: 5px 5px 5px 5px;
  border: solid 1px #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.50);
}


p {
  text-align: center;
  color: #444;
  letter-spacing: 0.05em;
  font-size: 0.8em;
  margin: 0 0 2em;
}


.btn {
  letter-spacing: 0.1em;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  max-width: 100%;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  margin:auto;
  
}
.btn:hover {
  text-decoration: none;
}

.container1 {
  position:absolute;
  right:0.77%;
  top:60px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #FFF;
  width: 100%;
  height:30px;
  background-color: rgba(0, 152, 121, 0.45);
  border-radius: 5px 5px 5px 5px;
  border: solid 1px #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.50);
}


.container2 {
  position:absolute;
  right:0.77%;
  top:120px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #FFF;
  width: 100%;
  height:30px;
  background-color: rgba(0, 152, 121, 0.65);
  border-radius: 5px 5px 5px 5px;
  border: solid 1px #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.50);
}



/*btn_background*/
.effect04 {
  --uismLinkDisplay: var(--smLinkDisplay, inline-flex);
  display: var(--uismLinkDisplay);
  color: #000;
  border: solid  0px #000;
  border-radius: 4px 4px 4px 4px;
  position: relative;
  transition-duration: 0.4s;
  overflow: hidden;
}

.effect04::before,
.effect04 span{
    margin: 0 auto;
	transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  transition-duration: 0.4s;
}

/* 文字1を上に */
.effect04:hover{

  background-color: #000;
}

/* HOVERしたら文字1を上に */
.effect04:hover span{
  -webkit-transform: translateY(-400%) scale(-0.1,20);
          transform: translateY(-400%) scale(-0.1,20);
}

/*文字2*/
.effect04::before{
  content: attr(data-sm-link-text);
	color: #FFF;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: translateY(500%) scale(-0.1,20);
          transform: translateY(500%) scale(-0.1,20);
}

/* HOVERしたら文字2を上に */
.effect04:hover::before{
  letter-spacing: 0.05em;
  -webkit-transform: translateY(0) scale(1,1);
          transform: translateY(0) scale(1,1);
}

@media(max-width:1240px){


  .flex1{
  position:relative;
  display:flex;
  flex-direction: column;
  width:40vw;
  top:120px;
}


  .secondoBlocco{
  position:relative;
  left:5%;
  top: 125px;
  width:37vw;
  margin-bottom:150px;
  }

  .border{
  position:absolute;
  left: 0%;
  top:50px;
  width:5px;
  background-color: #009879;
  height: calc(150px + 5%);
  border-radius: 5px 0px 0px 5px;
}

.background1{
  position: absolute;
  z-index: 0;
  left:5px;
  top:50px;
  height:calc(150px + 5%);
  width: 100%;
  background-color:#009879;
  opacity: 50%;
  border-radius: 0px 15px 15px 0px;
}

  .background2{
  position: absolute;
  top:120px;
  left:48%;
  height:72%;
  width: 45%;
  background-color:#009879;
  opacity: 50%;
  border-radius: 0px 15px 15px 0px;
  }
  .border2{
  position:absolute;
  top: 120px;
  left: 47.65%;
  width:5px;
  background-color: #009879;
  height: 72%;
  border-radius: 5px 0px 0px 5px;
  }

  .flex2{
  left:0px;
  position:absolute;
  display:flex;
  flex-direction: column;
  width:100%;
  top:10px;
}

.container {
  position:absolute;
  left:1.5%;
  top:0px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: rgba(0, 152, 121, 0.25);
  width: 30%;
  height:30px;
  border-radius: 5px 5px 5px 5px;
  border: solid 1px #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.50);
}

.container1 {
  position:absolute;
  left:34.5%;
  top:0px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: rgba(0, 152, 121, 0.25);
  width: 30%;
  height:30px;
  border-radius: 5px 5px 5px 5px;
  border: solid 1px #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.50);
}

.container2 {
  position:absolute;
  left:67.5%;
  top:0px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: rgba(0, 152, 121, 0.25);
  width: 30%;
  height:30px;
  border-radius: 5px 5px 5px 5px;
  border: solid 1px #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.50);
}

.buttons {
  position:relative;
  top:10px;
  left: 0%;
  display: flex;
  flex-direction: row;
      flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin: 0 auto;

}

}

@media(max-width:870px){
  .flex2{
  left:0px;
  position:absolute;
  display:flex;
  flex-direction: column;
  width:79vw;
  top:10px;
}

.container {
  position:absolute;
  left:0%;
  top:0px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: rgba(0, 152, 121, 0.25);
  width: 100%;
  height:30px;
  border-radius: 5px 5px 5px 5px;
  border: solid 1px #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.50);
}

.container1 {
  position:absolute;
  left:0%;
  top:60px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: rgba(0, 152, 121, 0.25);
  width: 100%;
  height:30px;
  border-radius: 5px 5px 5px 5px;
  border: solid 1px #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.50);
}

.container2 {
  position:absolute;
  left:0px;
  top:120px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: rgba(0, 152, 121, 0.25);
  width: 100%;
  height:30px;
  border-radius: 5px 5px 5px 5px;
  border: solid 1px #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.50);
}

.buttons {
  position:relative;
  top:10px;
  left: 0%;
  display: flex;
  flex-direction: row;
      flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
.flex1{
  position:absolute;
  display:flex;
  flex-direction: column;
  width:79vw;
  top:215px;
}

.border{
  position:absolute;
  left: 0%;
  top:50px;
  width:5px;
  background-color: #009879;
  height: calc(150px + 5%);
  border-radius: 5px 0px 0px 5px;
}

.background1{
  position: absolute;
  z-index: 0;
  left:5px;
  top:50px;
  height:calc(150px + 5%);
  width: 100%;
  background-color:#009879;
  opacity: 50%;
  border-radius: 0px 15px 15px 0px;
}

.secondoBlocco{
  left:4%;
  padding-top: 420px;
  width:75vw;
  margin-bottom:200px;
  }

  .background2{
  position: absolute;
  top:540px;
  left:5px;
  height:33%;
  width: 79vw;
  background-color:#009879;
  opacity: 50%;
  border-radius: 0px 15px 15px 0px;
  }
  .border2{
  position:absolute;
  top: 540px;
  left: 0%;
  width:5px;
  background-color: #009879;
  height: 33%;
  border-radius: 5px 0px 0px 5px;
  }

  
}

@media(max-width:570px){
  .secondoBlocco{
  left:4%;
  padding-top: 440px;
  width:90%;
  margin-bottom:200px;
  }

  .background2{
  position: absolute;
  top:560px;
  left:5px;
  height:35%;
  width: 100%;
  background-color:#009879;
  opacity: 50%;
  border-radius: 0px 15px 15px 0px;
  }
  .border2{
  position:absolute;
  top: 560px;
  left: 0%;
  width:5px;
  background-color: #009879;
  height: 35%;
  border-radius: 5px 0px 0px 5px;
  }
}

@media(max-width:450px){
  .secondoBlocco{
  left:4%;
  padding-top: 440px;
  width:90%;
  margin-bottom:200px;
  }

  .background2{
  position: absolute;
  top:560px;
  left:5px;
  height:40%;
  width: 100%;
  background-color:#009879;
  opacity: 50%;
  border-radius: 0px 15px 15px 0px;
  }
  .border2{
  position:absolute;
  top: 560px;
  left: 0%;
  width:5px;
  background-color: #009879;
  height: 40%;
  border-radius: 5px 0px 0px 5px;
  }
}

