<html>
  <div class = "topBar">
    <h1>BGPie</h1>
    <span>This website shows the long-lasting (at least one week long) sequences of BGP 
      Updates extracted from the data collected by RIPE Ris Route Collector RRC00 during
       Year 2019. The methods used to extract, to analyze and to validate the sequences
        can be found in paper "Long-lasting Sequences of BGP Updates" from L. Ariemma,
         S. Liotta, M. Candela, and G. Di Battista, presented at PAM2021 
         (Passive and Active Measurement Conference).</span>
  </div>
  <div>
  <a routerLink="/sequences">
    <h1>Lista sequenze</h1>
  </a>