html {
  background-image: url(../../../assets/images/bianco.jpg);
  position:relative;
  overflow: hidden;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  scroll-behavior: auto;
  overflow-y: scroll;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}


.topBar{
	position:relative;
	background-image: linear-gradient(56deg, rgba(254, 254, 254, 0.05) 0%, rgba(254, 254, 254, 0.05) 69%,rgba(160, 160, 160, 0.05) 69%, rgba(160, 160, 160, 0.05) 100%),linear-gradient(194deg, rgba(102, 102, 102, 0.02) 0%, rgba(102, 102, 102, 0.02) 60%,rgba(67, 67, 67, 0.02) 60%, rgba(67, 67, 67, 0.02) 100%),linear-gradient(76deg, rgba(169, 169, 169, 0.06) 0%, rgba(169, 169, 169, 0.06) 89%,rgba(189, 189, 189, 0.06) 89%, rgba(189, 189, 189, 0.06) 100%),linear-gradient(326deg, rgba(213, 213, 213, 0.04) 0%, rgba(213, 213, 213, 0.04) 45%,rgba(66, 66, 66, 0.04) 45%, rgba(66, 66, 66, 0.04) 100%),linear-gradient(183deg, rgba(223, 223, 223, 0.01) 0%, rgba(223, 223, 223, 0.01) 82%,rgba(28, 28, 28, 0.01) 82%, rgba(28, 28, 28, 0.01) 100%),linear-gradient(3deg, rgba(20, 20, 20, 0.06) 0%, rgba(20, 20, 20, 0.06) 62%,rgba(136, 136, 136, 0.06) 62%, rgba(136, 136, 136, 0.06) 100%),linear-gradient(200deg, rgba(206, 206, 206, 0.09) 0%, rgba(206, 206, 206, 0.09) 58%,rgba(6, 6, 6, 0.09) 58%, rgba(6, 6, 6, 0.09) 100%),linear-gradient(304deg, rgba(162, 162, 162, 0.07) 0%, rgba(162, 162, 162, 0.07) 27%,rgba(24, 24, 24, 0.07) 27%, rgba(24, 24, 24, 0.07) 100%),linear-gradient(186deg, rgba(166, 166, 166, 0.04) 0%, rgba(166, 166, 166, 0.04) 5%,rgba(210, 210, 210, 0.04) 5%, rgba(210, 210, 210, 0.04) 100%),linear-gradient(90deg, rgb(26, 118, 64),rgb(32, 207, 121),rgb(78, 196, 128));
	opacity: 90%;
}
.topBar h1 { 
	font-family: 'Raleway',sans-serif;
	font-size: 50px; 
	font-weight: 800; 
	line-height: 72px; 
  text-align: center; }
  
  * {
  margin: 0;
  padding: 0;
}

.box{
  width:96vw;
  padding-left:2vw;
  padding-right: 2vw;
  font-size:1.15em;
}

@import "compass/css3";

.backgroundLista{
  position:absolute;
  top:260px;
  left:2vw;
  width:72vw;
  height:465px;
  background-color: rgba(0, 152, 121, 0.15);;
  filter:blur(30px);

}
.lista{
  position:relative;
  top:50px;
  left:2vw;
  width: 73vw;

}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  font: Helvetica, Verdana, sans-serif;
  line-height: 1.5;
  font-size: calc(1em + 0.2vw);
  font-weight: 200;
  border-bottom: 1px solid #ccc;
  transition: font-size 0.5s;
}

li:last-child {
  border: none;
}

/*li a {
  text-decoration: none;
  color: #000;
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
  display: block;
  width: 200px;
}

li a:hover {
  font-size: 30px;
  background: #f6f6f6;
}*/

li:hover{
  font-size: calc(0.9em + 0.35vw);
}

.buttons2{
  position:  absolute;
  right:0vw;
  top:270px;
  width:25%;
}

.container2 {
  position:absolute;
  top:10px;
  left:6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  vertical-align:center;
  background-color: #FFF;
  height:45px;
  width: 22vw;
}

.container3 {
  position:absolute;
  top:85px;
  left:6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  vertical-align:center;
  background-color: #FFF;
  height:45px;
  width: 22vw;
}

.container4 {
  position:absolute;
  top:160px;
  left:6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  vertical-align:center;
  background-color: #FFF;
  height:45px;
  width: 22vw;
}

.container5 {
  position:absolute;
  top:235px;
  left:6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  vertical-align:center;
  background-color: #FFF;
  height:45px;
  width: 22vw;
}

.container6 {
  position:absolute;
  top:310px;
  left:6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  vertical-align:center;
  background-color: #FFF;
  height:45px;
  width: 22vw;
}

.container7 {
  position:absolute;
  top:385px;
  left:6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  vertical-align:center;
  background-color: #FFF;
  height:45px;
  width: 22vw;
}

.buttons3{
  position: relative;
  top:120px;
  width:100vw;
  height:100px;
}

.container8 {
  position:absolute;
  left:2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  vertical-align:center;
  background-color: #FFF;
  height:45px;
  width: 46vw;
  top:0px;
}

.container9 {
  position:absolute;
  left:52vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  vertical-align:center;
  background-color: #FFF;
  height:45px;
  width: 46vw;
}

.container10 {
  position:absolute;
  left:2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  vertical-align:center;
  background-color: #FFF;
  height:45px;
  width: 46vw;
  top:60px;
}

.container11 {
  position:absolute;
  left:52vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  vertical-align:center;
  background-color: #FFF;
  height:45px;
  width: 46vw;
  top:60px
}
  .effect02 {
  color: white;
  border: 0px solid #000;
  border-radius: 5px 5px 5px 5px;
  box-shadow:0px 0px 0px 1px #000 inset;
  overflow:hidden;
  position:relative;
  background-color: rgba(0, 152, 121, 0.4);
transition: all 0.3s ease-in-out;
}

.effect02:hover {
  border: 1px solid #666;
  background-color: rgba(0, 152, 121, 0.8);
  box-shadow:0px 0px 0px 0px #EEE inset;
}

/*btn_text*/
.effect02 span {
  transition: all 0.2s ease-out;
  z-index: 2;
  color: #000;
}
.effect02:hover span{
  letter-spacing: 0.13em;
}

/*highlight*/
.effect02:after {
  background: black;
  border: 0px solid #000;
  content: "";
  height: 155px;
  left: -75px;
  opacity: .8;
  position: absolute;
  top: -50px;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  width: 50px;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);/*easeOutCirc*/
  z-index: 1;
}
/*.effect02:hover:after {
  background: yellow;
  border: 20px solid #000;
  opacity: 0;
  left: 120%;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}*/

.buttons {
  display: flex;
  flex-direction: row;
      flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
  width: 100%;
  margin: 0 auto;
  padding-top:30px;
/*   padding: 2em 0em; */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  vertical-align:center;
  background-color: #FFF;
  height:45px;
  width: 20vw;
}

.containerSecondo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  vertical-align:center;
  background-color: #FFF;
  height:45px;
  width: 20vw;
}

.container1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  vertical-align:center;
  background-color: #FFF;
  height:45px;
  width: 30vw;
  white-space: nowrap;
}



@media(max-width:1100px){
  
  li {
  font: Helvetica, Verdana, sans-serif;
  line-height: 1.5;
  font-size: 1.2em;
  font-weight: 200;
  border-bottom: 1px solid #ccc;
  transition: font-size 0.5s;
}

li:hover{
  font-size: 1.25em;
}

  .buttons {
    position:relative;
    top:30px;
  display: flex;
  flex-direction: column;
      flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  height:180px;
/*   padding: 2em 0em; */
}

.container {
  position: absolute;
  left:5vw;
  width:90vw;
  top:0px;
}

.container1 {
  position: absolute;
  left:5vw;
  width:90vw;
  top:60px;
}

.containerSecondo{
  position:absolute;
  left: 5vw;
  width:90vw;
  top:120px;
}

  .buttons2{
    position:relative;
    top:40px;
    display:flex;
    flex-direction:column;
    height:350px;
    width:100%;
  }

  .container2{
    position: absolute;
    left:5vw;
    top:0px;
    width:90vw;
  }

  .container3{
    position:absolute;
    left:5vw;
    top:60px;
    width:90vw;
  }

  .container4{
    position:absolute;
    left:5vw;
    top:120px;
    width:90vw;
    left:5vw;
  }

  .container5{
    position:absolute;
    left:5vw;
    top:180px;
    width:90vw;
  }

  .container6{
    position:absolute;
    left:5vw;
    top:240px;
    width:90vw;
  }

  .container7{
    position:absolute;
    left:5vw;
    top:300px;
    width:90vw;
  }

  .lista{
  position:relative;
  top:20px;
  left:5vw;
  width: 90vw;
  }

  .buttons3{
    position:relative;
    top:50px;
    width:100%;
  }

  .container8{
    position:absolute;
    top:0px;
    width:90vw;
    left:5vw;
  }

  .container9{
    position:absolute;
    top:60px;
    width:90vw;
    left:5vw;
  }

  .container10{
    position:absolute;
    top:120px;
    width:90vw;
    left:5vw;
  }

  .container11{
    position:absolute;
    top:180px;
    width:90vw;
    left:5vw;
  }

  .backgroundLista{
    width:0px;
    height:0px;
  }
}




p {
  text-align: left;
  color: #444;
  letter-spacing: 0.05em;
  font-size: 0.8em;
  margin: 0 0 2em;
}


.btn {
  letter-spacing: 0.1em;
  cursor: pointer;
  font-size: calc(0.8em + 0.2vw);
  font-weight: 500;
  line-height: 45px;
  max-width: 100vw;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  height:100%;
  white-space: normal;

}
.btn:hover {
  text-decoration: none;
}

/*btn_background*/
.effect01 {
  color: white;
  border: 0px solid #000;
  border-radius: 5px 5px 5px 5px;
  box-shadow:0px 0px 0px 1px #000 inset;
  background-color: rgba(0, 152, 121, 0.8);
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.effect01:hover {
  border: 1px solid #666;
  background-color: rgba(0, 152, 121, 0.25);
  box-shadow:0px 0px 0px 0px #EEE inset;
}

/*btn_text*/
.effect01 span {
  transition: all 0.2s ease-out;
  z-index: 2;
}
.effect01:hover span{
  letter-spacing: 0.13em;
  color: #000;
}

/*highlight*/
.effect01:after {
  background: black;
  border: 0px solid #000;
  content: "";
  height: 155px;
  left: -75px;
  opacity: .8;
  position: absolute;
  top: -50px;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  width: 50px;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);/*easeOutCirc*/
  z-index: 1;
}
/*.effect01:hover:after {
  background: yellow;
  border: 20px solid #000;
  opacity: 0;
  left: 120%;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}*/

.invisibile{
  width:0px;
  height:0px;
  padding-top:200px;
}

/*.cdk-overlay-pane.highcharts-modal {
   
   width: 100%;
   height: 800px;
}*/

