<html>
  <div class = "topBar">
    <h1>BGPie</h1>
    <div class = "box">
    <span>This website shows the long-lasting (at least one week long) sequences of BGP 
      Updates extracted from the data collected by RIPE Ris Route Collector RRC00 during
       Year 2019. The methods used to extract, to analyze and to validate the sequences
        can be found in paper "Long-lasting Sequences of BGP Updates" from L. Ariemma,
         S. Liotta, M. Candela, and G. Di Battista, presented at PAM2021 
         (Passive and Active Measurement Conference).</span>
         </div>
  </div>

<div class="buttons">
  <div class="container">
      <a routerLink = "/sequences" class="btn effect01"><span>List of sequences</span></a>
  </div>
  <div class="container1">
      <a href="https://twitter.com/masuwa1018" class="btn effect01" target="_blank"><span>List of manually inspected sequences</span></a>
  </div>
  <div class="containerSecondo">
      <a href="https://twitter.com/masuwa1018" class="btn effect01" target="_blank"><span>List of the involved cps</span></a>
  </div>
</div>
<div class="backgroundLista"></div>
<div class="lista">
<ul>
  <li>Total number of Sequences: <b>{{element.sequences}}</b></li>
    <li><a href="#"></a>Distinct Prefixes involved in Sequences: <b>{{element.prefixes}}</b></li>
    <li><a href="#"></a>BGP Updates involved in Sequences: <b>{{sum(element.announces, element.withdraws)}}</b> (Announces: <b>{{element.announces}}</b>, Withdrawals: <b>{{element.withdraws}}</b>)</li>
    <li><a href="#"></a>Total number of BGP Updates collected by RRC00 in 2019: <b>{{element2.updates}}</b> (Announces: <b>{{element2.announces}}</b>, Withdraws: <b>{{element2.withdraws}}</b>)</li>
    <li><a href="#"></a>Percentage of BGP Updates belonging to Sequences: <b>{{percentage(element2.updates, sum(element.announces, element.withdraws))}}%</b> (Announces: <b>{{percentage(element2.announces, element.announces)}}%</b>, Withdrawals: <b>{{percentage(element2.announces, element.withdraws)}}%</b>)</li>
    <li><a href="#"></a>Distinct Collector Peers (CPs) that observed at least a Sequences: <b>{{element.cPs}}</b></li>
    <li><a href="#"></a>Distinct ASes originating the prefixes involved in the Sequences: <b>{{element.aSes}}</b></li>
    <li><a href="#"></a>Number of AB-BA Sequences (whose AS-path contains pattern xAyBz and x'By'Az'): <b>{{element.containingLoops}} ({{percentage(element.sequences, element.containingLoops)}}%)</b></li>
    <li><a href="#"></a>Sequences that are originated by an IPv4 Prefix: <b>{{element.prefixv4}}</b> (<b>{{percentage(sum(element.prefixv4, element.prefixv6), element.prefixv4)}}%</b>)</li>
    <li><a href="#"></a>Sequences that are originated by an IPv6 Prefix: <b>{{element.prefixv6}}</b> (<b>{{percentage(sum(element.prefixv4, element.prefixv6), element.prefixv6)}}%</b>)</li>
    <li><a href="#"></a>Sequences whose prefix is announced by more than one AS: <b>{{element.moreThanOneAsOrigin}} ({{percentage(element.sequences, element.moreThanOneAsOrigin)}}%)</b></li>
    <li><a href="#"></a>Sequences that contain at least one announcement with the BGP Path Attribute Aggregator set: <b>{{element.containsAggregator}}</b> (<b>{{percentage(element.sequences, element.containsAggregator)}}%</b>)</li>
    <li><a href="#"></a>Sequences that contain at least two announcement with different values of the BGP Path Attribute Aggregator: <b>{{element.aggregatorChanges}}</b> (<b>{{percentage(element.sequences, element.aggregatorChanges)}}%</b>)</li>
    <li><a href="#"></a>Sequences originated by a known beacon prefix: <b>{{element.beaconSequences}}</b> (<b>{{percentage(element.sequences, element.beaconSequences)}}%</b>)</li>
    <li><a href="#"></a>BGP Updates originated by a known beacon prefix: <b>{{element.beaconAnnouncements + element.beaconWithdrawals}}</b> (Announcements: <b>{{element.beaconAnnouncements}}</b>, Withdrawals: <b>{{element.beaconWithdrawals}}</b>)</li>
    <li><a href="#"></a>Percentage of BGP Updates originated by a known beacon prefix: (<b>{{percentage(element2.updates, sum(element.beaconAnnouncements, element.beaconWithdrawals))}}%</b>) (Announcements: (<b>{{percentage(element2.updates, element.beaconAnnouncements)}}%</b>), Withdrawals: (<b>{{percentage(element2.updates, element.beaconWithdrawals)}}%</b>))</li>
</ul>
</div>
<div class = "buttons2">
  <div class="container2">
      <a (click) = "openDialog()" class="btn effect02" target="_blank"><span>Duration cdf</span></a>
  </div>
  <div class="container3">
      <a (click) = "openDialog2()" class="btn effect02" target="_blank"><span>As path number cdf</span></a>
  </div>
  <div class="container4">
      <a (click) = "openDialog3()" class="btn effect02" target="_blank"><span>Prefix distribution cdf</span></a>
  </div>
  <div class="container5">
      <a (click) = "openDialog4()" class="btn effect02" target="_blank"><span>Updates per sequence cdf</span></a>
  </div>
  <div class="container6">
      <a (click) = "openDialog5()" class="btn effect02" target="_blank"><span>Number of updates per cp</span></a>
  </div>
  <div class="container7">
      <a (click) = "openDialog6()" class="btn effect02" target="_blank"><span>Number of sequences per cp</span></a>
  </div>
</div>
<div class = "buttons3">
  <div class="container8">
      <a (click) = "openDialog7()" class="btn effect02" target="_blank"><span>Most frequent update frequency cdf</span></a>
  </div>
  <div class="container9">
      <a (click) = "openDialog8()" class="btn effect02" target="_blank"><span>Longest common as suffix cdf</span></a>
  </div>
  <div class="container10">
      <a (click) = "openDialog9()" class="btn effect02" target="_blank"><span>Frequency of updates per sequence cdf</span></a>
  </div>
  <div class="container11">
      <a (click) = "openDialog10()" class="btn effect02" target="_blank"><span>Percentage of unstable prefixes cdf</span></a>
  </div>
</div>
<div class = "invisibile"></div>
</html>

