<html>
<table mat-table
              [dataSource]="dataSource" multiTemplateDataRows
              class="mat-elevation-z8">
        <ng-container matColumnDef="Sequence ID">
            <th mat-header-cell *matHeaderCellDef> Sequence ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>

          <ng-container matColumnDef="Prefix">
            <th mat-header-cell *matHeaderCellDef> Prefix </th>
            <td mat-cell *matCellDef="let element"> {{element.prefix}} </td>
          </ng-container>

          <ng-container matColumnDef="Collector Peer">
            <th mat-header-cell *matHeaderCellDef> Collector Peer </th>
            <td mat-cell *matCellDef="let element"> {{element.collectorPeer.peerIPAddress}}[<b>AS:</b>{{element.collectorPeer.peerAS}}] </td>
          </ng-container>

          <ng-container matColumnDef="RRC">
            <th mat-header-cell *matHeaderCellDef> RRC </th>
            <td mat-cell *matCellDef="let element"> {{element.rRC}} </td>
          </ng-container>

          <ng-container matColumnDef="Start Time">
            <th mat-header-cell *matHeaderCellDef> Start Time </th>
            <td mat-cell *matCellDef="let element"> {{element.start}} </td>
          </ng-container>

          <ng-container matColumnDef="End Time">
            <th mat-header-cell *matHeaderCellDef> End Time </th>
            <td mat-cell *matCellDef="let element"> {{element.end}} </td>
          </ng-container>

          <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
              <div class="example-element-detail"
                  [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <div>
                  <div>Number of updates: <b>{{element.updates}}</b></div>
                  <div>Number of announcements: <b>{{element.announces}}</b></div>
                  <div>Number of withdrawals: <b>{{element.withdraws}}</b></div>
                  <div>AS Origin(s): <b>{{element.asOrigins}}</b></div>
                  <div>Distinct AS-Paths observed during this sequence: <b>{{element.asPathNumber}}</b></div>
                  <div>Length of the longest common AS-Path suffix: <b>{{element.longestCommonAsPathSuffix}}</b></div>
                  <div>Has one or more updates with the aggregator field: <b>{{element.hasAggregator}}</b></div>
                </div>
              <div class="secondoBlocco">
                  <div>Contains loops: <b>{{element.containsLoops}}</b></div>
                  <div>Contains As-Path loops: <b>{{element.containsAsPathLoops}}</b></div>
                  <div>Number of occurrencies of the most frequent announcement: <b>{{element.mostFrequentUpdateFrequency}}</b></div>
                  <div>Most Frequent announcement frequency (upd/min): <b>{{element.mostFrequentUpdateFrequencyInMin}}</b></div>
                  <div>Duration (days): <b>{{element.duration}}</b></div>
                  <div>Average frequency of the sequence: <b>{{element.frequency}}</b></div>
                  <div>Run ID: <b>{{element.runID}}</b></div>
                </div>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
              class="example-element-row"
              [class.example-expanded-row]="expandedElement === element"
              (click)="expandedElement = expandedElement === element ? null : element">
          </tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>
</html>