html {
  background-image: url(../imma.jpg);
  overflow: hidden;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  scroll-behavior: auto;
  overflow-y: scroll;
}

th {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
    font-size: 1.5em;
}
.annotazione{
  position:absolute;
  top: 220px;
  left:0px;
  font-size:0.7em;
  color: darkgray;
}

.invisibile{
  padding-top:290px;
  height:1px;
  width:1px;
}

.titoletto{
  position:absolute;
  left:0px;
  top:13px;
}
.titoletto h1{
  color: black; 
  font-family: 'Orienta', sans-serif;
  font-weight: 400;  
  font-size:1.25em;
  text-align: center; 
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.titoletto1{
  position:absolute;
  right:90px;
  top:13px;
}
.titoletto1 h1{
  color: black; 
  font-family: 'Orienta', sans-serif;
  font-weight: 400;  
  font-size:1.25em;
  text-align: center; 
  text-transform: uppercase;
  letter-spacing: 0.1em;
}


td {
    width:100%;
}


tr:hover{
  background-color: whitesmoke;
}

.mat-elevation-z8{
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  width: 95%;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
}

.mat-header-cell{
  white-space: nowrap;
  padding-right:120px;
}
tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-detail-row {
  height: 0;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  position:relative;
  overflow: hidden;
  display: flex;
}

tr:last-of-type{
  border-bottom: 2px solid #009879;
}

.bottomright {
  position: relative;
  bottom: 0px;
  right: -400px;
  width: 30%
}

.primoBlocco{
  position: absolute;
  top: 60px;
  left: 7px;
  padding-bottom: 20px
}

.secondoBlocco{
  position:absolute;
  left: 400px;
  top: 60px;
}

.border{
  position:absolute;
  top: 56px;
  left: 0px;
  border-left: 5px solid #009879;
  height: 150px;
  border-radius: 5px 0px 0px 5px;
}

.border2{
  position:absolute;
  top: 56px;
  left: 390px;
  border-left: 5px solid #009879;
  height: 150px;
  border-radius: 5px 0px 0px 5px;
}

.background1{
  position: absolute;
  top:56px;
  left:5px;
  height:150px;
  width: 360px;
  background-color:#009879;
  opacity: 50%;
  border-radius: 0px 15px 15px 0px;
  /*border-top: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-width: 2px;*/
}

.background2{
  position: absolute;
  top:56px;
  left:395px;
  height:150px;
  width: 480px;
  background-color:#009879;
  opacity: 50%;
  border-radius: 0px 15px 15px 0px;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

body {
  background: #FFF;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
}

.buttons {
  display: flex;
  flex-direction: row;
      flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 250px;
  height: 100%;
  margin: 0 auto;

}

.container {
  position:absolute;
  right:9px;
  top:65px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: rgba(0, 152, 121, 0.25);
  width: 260px;
  height:30px;
  border-radius: 5px 5px 5px 5px;
  border: solid 1px #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.50);
}

h1 {
  text-align: left;
  color: #444;
  letter-spacing: 0.05em;
  margin: 0 0 0.4em;
  font-size: 1em;
}

p {
  text-align: center;
  color: #444;
  letter-spacing: 0.05em;
  font-size: 0.8em;
  margin: 0 0 2em;
}


.btn {
  letter-spacing: 0.1em;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  max-width: 300px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  margin:auto;
  
}
.btn:hover {
  text-decoration: none;
}

.buttons1 {
  display: flex;
  flex-direction: row;
      flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 180px;
  height: 100%;
  margin: 0 auto;

}

.container1 {
  position:absolute;
  right:9px;
  top:115px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #FFF;
  width: 260px;
  height:30px;
  background-color: rgba(0, 152, 121, 0.45);
  border-radius: 5px 5px 5px 5px;
  border: solid 1px #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.50);
}

.buttons1 {
  display: flex;
  flex-direction: row;
      flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: px;
  height: 100%;
  margin: 0 auto;

}

.container2 {
  position:absolute;
  right:9px;
  top:165px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #FFF;
  width: 260px;
  height:30px;
  background-color: rgba(0, 152, 121, 0.65);
  border-radius: 5px 5px 5px 5px;
  border: solid 1px #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.50);
}



/*btn_background*/
.effect04 {
  --uismLinkDisplay: var(--smLinkDisplay, inline-flex);
  display: var(--uismLinkDisplay);
  color: #000;
  border: solid  0px #000;
  border-radius: 4px 4px 4px 4px;
  position: relative;
  transition-duration: 0.4s;
  overflow: hidden;
}

.effect04::before,
.effect04 span{
    margin: 0 auto;
	transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  transition-duration: 0.4s;
}

/* 文字1を上に */
.effect04:hover{

  background-color: #000;
}

/* HOVERしたら文字1を上に */
.effect04:hover span{
  -webkit-transform: translateY(-400%) scale(-0.1,20);
          transform: translateY(-400%) scale(-0.1,20);
}

/*文字2*/
.effect04::before{
  content: attr(data-sm-link-text);
	color: #FFF;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: translateY(500%) scale(-0.1,20);
          transform: translateY(500%) scale(-0.1,20);
}

/* HOVERしたら文字2を上に */
.effect04:hover::before{
  letter-spacing: 0.05em;
  -webkit-transform: translateY(0) scale(1,1);
          transform: translateY(0) scale(1,1);
}



