<html>
<div class="mat-elevation-z8">
  <mat-toolbar>
    <mat-icon aria-hidden="false" aria-label="Example home icon">
      <a href="https://twitter.com/masuwa1018" class="icona">home</a>
    </mat-icon>
    <span>FOUND SEQUENCES IN RRC00</span>
    <!--<mat-form-field>
      <mat-label>Filter by ID</mat-label>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="" #input>
    </mat-form-field>-->
    <button mat-raised-button (click)="togglePanel()">TOGGLE</button>
  </mat-toolbar>
  <mat-expansion-panel [expanded]="panelOpenState">
    <div class = "backgroundIDFilter"></div>
    <div class = "borderIDFilter"></div>
    <mat-form-field appearance="fill" class="IDFilter">
      <mat-label>Sequence ID:</mat-label>
        <input matInput>
    </mat-form-field>
    <div class = "backgroundPrefix"></div>
    <div class = "borderPrefix"></div>
    <mat-form-field appearance="fill" class="PrefixFilter">
      <mat-label>Prefix:</mat-label>
        <input matInput>
    </mat-form-field>
    <div class = "backgroundAsOrigin"></div>
    <div class = "borderAsOrigin"></div>
    <mat-form-field appearance="fill" class="AsOriginFilter">
      <mat-label>As Origin:</mat-label>
        <input matInput>
    </mat-form-field>
    <div class = "backgroundSuffix"></div>
    <div class = "borderSuffix"></div>
    <mat-form-field appearance="fill" class="SuffixFilter">
      <mat-label>Minimum suffix length:</mat-label>
        <input matInput>
    </mat-form-field>
   
    <div class="invisibile">ao</div>

</mat-expansion-panel>
<table mat-table
              [dataSource]="dataSource" multiTemplateDataRows>
        <tr>
            <ng-container  matColumnDef="Sequence ID">
              <th mat-header-cell *matHeaderCellDef> Sequence ID </th>  
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

          <ng-container matColumnDef="Prefix">
            <th mat-header-cell *matHeaderCellDef class ="prefix"> Prefix </th>
            <td mat-cell *matCellDef="let element"> {{element.prefix}} </td>
          </ng-container>

          <ng-container matColumnDef="Collector Peer">
            <th mat-header-cell *matHeaderCellDef class ="collectorPeer"> Collector Peer </th>
            <td mat-cell *matCellDef="let element"> {{element.collectorPeer.peerIPAddress}}[<b>AS:</b>{{element.collectorPeer.peerAS}}] </td>
          </ng-container>

          <ng-container matColumnDef="RRC">
            <th mat-header-cell *matHeaderCellDef class = "rrc"> RRC </th>
            <td mat-cell *matCellDef="let element"> {{element.rRC}} </td>
          </ng-container>

          <ng-container matColumnDef="Start Time">
            <th mat-header-cell *matHeaderCellDef class = "startTime"> Start Time </th>
            <td mat-cell *matCellDef="let element"> {{element.start | date:'short' }} </td>
          </ng-container>

          <ng-container matColumnDef="End Time">
            <th mat-header-cell *matHeaderCellDef  class="endTime"> End Time </th>
            <td mat-cell *matCellDef="let element" class="endTime"> {{element.end | date:'short'}} </td>
          </ng-container>
        </tr>

          <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
              <div class="example-element-detail"
                  [@detailExpand]="checkExpanded(element) ? 'expanded' : 'collapsed'">
                <div class = "annotazione">Info on the involved prefix retrieved from third-party data sources.
                  <br>This info describes the prefix in its actual state that may be different from the one
                  <br> in the time frame of the sequence.</div>
                <div class = "border"></div>
                <div class = "background1"></div>
                <div class = "primoBlocco">
                  Resource: <b>{{element.id}}</b>
                  <br>announced:
                  <br>AS Origin(s): <b>{{element.asOrigins}}</b>
                  <br>Holder:
                </div>
                <div class ="border2"></div>
                <div class = "background2"></div>
                <div class="secondoBlocco">
                  Number of updates: <b>{{element.updates}}</b>
                  <br>Number of announcements: <b>{{element.announces}}</b>
                  <br>Number of withdrawals: <b>{{element.withdraws}}</b>
                  <br>AS Origin(s): <b>{{element.asOrigins}}</b>
                  <br>Distinct AS-Paths observed during this sequence: <b>{{element.asPathNumber}}</b>
                  <br>Length of the longest common AS-Path suffix: <b>{{element.longestCommonAsPathSuffix}}</b>
                  <br>Has one or more updates with the aggregator field: <b>{{element.hasAggregator}}</b>
                  <br>Contains updates with AS-Path xAyBz/x'By'Az' patterns:
                  <br>Number of occurrencies of the most frequent announcement: <b>{{element.mostFrequentUpdateFrequency}}</b>
                  <br>Most Frequent announcement frequency (upd/min): <b>{{element.mostFrequentUpdateFrequencyInMin}}</b>
                  <br>Duration (days): <b>{{element.duration}}</b>
                  <br>Is the prefix a beacon (if yes there will be the name):
                  <br>Average frequency of the sequence: <b>{{element.frequency}}</b>
                  <br>Run ID: <b>{{element.runID}}</b>
                </div>
                <div class="titoletto">
                  <h1>Sequence analysis</h1>
                </div>
                <div class="titoletto1">
                  <h1>Widgets</h1>
                </div>
                <div class="buttons">
                  <div class="container">
                    <a href="https://twitter.com/masuwa1018" class="btn effect04" data-sm-link-text="CLICK" target="_blank">
                      <span>AS TREE WITHOUT AGGREGATOR</span>
                    </a>
                  </div>
                </div>
                <div class="buttons">
                  <div class="container1">
                    <a href="https://twitter.com/masuwa1018" class="btn effect04" data-sm-link-text="CLICK" target="_blank">
                      <span>SEQUENCE CHART</span>
                    </a>
                  </div>
                </div>
                <div class="buttons">
                  <div class="container2">
                    <a href="https://twitter.com/masuwa1018" class="btn effect04" data-sm-link-text="CLICK" target="_blank">
                      <span>RIPE STAT BGP UPDATE ACTIVITY</span>
                    </a>
                  </div>
                </div>
                <div class="invisibile">ao</div>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
              class="example-element-row"
              [class.example-expanded-row]="checkExpanded(element)"
              (click)="pushPopElement(element)">
          </tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10,20]" showFirstLastButtons></mat-paginator>
        </div>
</html>