html {
  background-image: url(../pattern.jpg);
  overflow: hidden;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}

th {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
    font-size: 1.5em;
}

.mat-cell{
  padding: 8px 100px 0px 0;
}


td {
    width:100%;
}


tr:last-of-type{
  border-bottom: 2px solid #009879;
}
.mat-elevation-z8{
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  width: 90%;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

tr.example-detail-row {
  height: 0;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

