<h4 mat-dialog-title>
        <mat-toolbar class="task-header">
            <span class="titolo">Frequency Of Updates Per Sequence CDF</span>
            <button mat-icon-button mat-dialog-close class="icona">
                <mat-icon mat-list-icon>close</mat-icon>
            </button>
        </mat-toolbar>
</h4>
<mat-dialog-content>Frequency of updates per sequence CDF will appear here</mat-dialog-content>



